/* app global css */
* {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
  font-family: "Barlow", sans-serif !important;

}

:root {
  --primary-color: #0192f3;
  --primary-font: "Barlow";
  --footer-color: #1d2930;
  --font-size: 16px;
  --line-height: 1.9em;
  --letter-spacing: 0px;
  --width-sidebar: 410px;
  --main-content: calc(100% - 410px);
  --container-width: 1290px;
  --boxed-offset: 20px;
  --woo-layout: layout_1c;
  --woo-width-sidebar: 320px;
  --woo-main-content: calc(100% - 320px);
}

/* Radius style */

.br-xs {
  border-radius: 4px;
}
.br-sm {
  border-radius: 8px;
}
.br-md {
  border-radius: 16px;
}
.br-lg {
  border-radius: 24px;
}
.br-xl {
  border-radius: 42px;
}

.custom-shadow {
  box-shadow: 0 12px 8px rgba(1, 146, 243, 0.06), 0 12px 4px rgba(1, 146, 243, 0.06), 0 12px 100px -4px rgba(1, 146, 243, 0.06) !important;
}
